.item {
  width: 250px;
  height: 400px;
}
.title {
  height: 7vh;
  color: #ff9f1a;
  font-weight: bold;
}
.desc {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
}

/* .slick-dots li button:before {
  font-size: 100px !important;
} */
