.item {
  width: 250px;
  height: 400px;
}
.title {
  height: 7vh;
  color: #ff3838;
  font-weight: bold;
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.desc {
  min-height: 40px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  cursor: pointer;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.203);
  position: absolute;
  inset: 0;
}
.playButton {
  font-size: 70px !important;
  position: absolute;
  top: 30%;
  left: 35%;
  opacity: 0;
  transition: opacity 0.5s ease;
  color: white;
}

.imageContainer:hover .playButton {
  opacity: 999;
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.icon {
  color: aliceblue;
  position: absolute;
  inset: 18% 0 0 68%;
  font-size: 40px;
  cursor: pointer;
}


