.imageContainer {
  position: relative;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.525);
}
.playButton {
  font-size: 70px !important;
  position: absolute;
  top: 25%;
  left: 35%;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.imageContainer:hover .playButton {
  opacity: 999;
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.icon {
  position: absolute;
  inset: 25% 0 0 65%;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
